@charset "utf-8";

html,body {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 10px;
  line-height: 1.5;
}
.bold {
  font-weight: 500;
}
.info {
  margin-top: 30px;
  font-family: 'Noto Sans KR';
  text-align: center;
}
h1 {
  font-size: 26px;
}
.info p {
  margin-top: 10px;
  font-size: 18px;
}
.select_logo {
  margin-top: 30px;
}
.select_logo select {
  margin-top: 18px;
  padding: 8px;
  width: 200px;
}
.card_wrap {
  position: relative;
  max-width: 24.1em;
  width: 100%;
  margin: 5em auto;
  background-color: #E7344C;
  aspect-ratio: 241 / 156;
  font-family: 'Noto Sans KR';
  font-weight: 300;
  color: #fff;
  transform: scale(2);
  transform-origin: center top;
}
.card_wrap p {
  font-size: 0.7em !important;
}
.card_text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.2em 1.4em 0;
  row-gap: 1.2em;
}
.card_text > div:nth-child(odd) {
  flex-basis: 7.2em;
  max-width: 7.2em;
}
.card_text > div:nth-child(even) {
  flex-basis: 12.2em;
  max-width: 12.2em;
}
.card_text input {
  box-sizing: border-box;
  width: 100%;
  height: min-content;
  outline: none;
  color: #fff;
  font-size: 0.7em !important;
  line-height: 0.77em;
  font-family: 'Noto Sans KR';
  font-weight: 300;
  padding: 0;
}
.card_text input:placeholder-shown {
  border: 1px solid whitesmoke;
}
.card_text input::placeholder {
  color: whitesmoke;
}
.name {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}
input.name_kr {
  font-size: 1.4em !important;
  line-height: 1.54em;
  font-weight: 700;
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.part {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}
input.part_kr {
  font-weight: 500;
}
input.part_en {
  line-height: 0.98em;
  font-weight: 500;
}
.address {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  line-height: 0.98em;
}
.address > .bold {
  line-height: 0.77em;
}
.address .tel {
  white-space: nowrap;
}
.address .tel .bold {
  letter-spacing: 0;
}
.tel_wrap {
  display: flex;
  gap: 0.4em;
}
.tel {
  display: flex;
  gap: 0.1em;
  line-height: 0.77em;
  align-items: center;
}
.logo {
  position: absolute;
  left: 1.4em;
  bottom: 1.468em;
  height: 2.123em;
}
.btn_down {
  display: block;
  margin: 200px auto;
  text-align: center;
  padding: 8px 12px;
  background-color: black;
	font-family: 'Noto Sans KR';
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
}

@media screen and (max-width: 550px) {
  .btn_down {
    margin: 200px auto;
  }
}