/* font */

@font-face {
	font-family: 'Noto Sans KR';
	font-weight: 700;
	font-display: swap;
	src: url(../font/NotoSansKR-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-weight: 500;
	font-display: swap;
	src: url(../font/NotoSansKR-Medium.ttf) format('truetype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-weight: 300;
	font-display: swap;
	src: url(../font/NotoSansKR-Light.ttf) format('truetype');
}

/* CSS Reset */

html,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul, header, nav, section, video, div { margin:0; padding:0; box-sizing: border-box;}
button,input { border-radius:0; border: none; background-color: transparent; cursor: pointer;}
fieldset,img { border:0 }
ol,ul { list-style:none }
address,em { font-style:normal }
a { text-decoration:none }
iframe { overflow:hidden; margin:0; padding:0; border:0 }